@model ThietBiDienTu.Areas.Admin.Models.HoanHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>HoanHang</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaDDH, "MaDDH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDDH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaDDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, "MaKH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LyDonHoanHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LyDonHoanHang)
                @Html.ValidationMessageFor(model => model.LyDonHoanHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "HoanTraDonHang")
</div>
