@model IEnumerable<ThietBiDienTu.Areas.Admin.Models.GetCartItems_Result>
@{
    ViewBag.Title = "GioHang";
    Layout = null;
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- Icon fontanwesome -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="~/Assets/User/css/library.css">
<!-- Owl Slider css -->
<link rel="stylesheet" href="~/Assets/User/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/Assets/User/css/owl.theme.default.min.css">
<!-- Layout -->
<link rel="stylesheet" href="~/Assets/User/css/common.css">
<!-- index -->
<link rel="stylesheet" type="text/css" href="~/Assets/User/css/cart.css">
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Owl caroucel Js-->
<script src="~/Assets/User/js/owl.carousel.min.js"></script>


<body>



    <div class="col l-8 m-12 s-12">
        <div class="main__cart">
            <div class="row title">

                <div class="col l-4 m-4 s-8">Sản phẩm</div>
                <div class="col l-2 m-2 s-0">Giá</div>
                <div class="col l-2 m-2 s-0">Số lượng</div>
                <div class="col l-2 m-2 s-4">Tổng</div>

            </div>
            @foreach (var item in Model)
            {
                <div class="row item">

                    <div class="col l-4 m-4 s-8">
                        <div class="main__cart-product">
                            <img src="~/Assets/img/@Html.DisplayFor(modelItem => item.LinkHinhAnhChinh)" alt="">
                            <div class="name">@Html.DisplayFor(modelItem => item.TenSP)</div>
                        </div>
                    </div>
                    <div class="col l-2 m-2 s-0">
                        <div class="main__cart-price">@String.Format("{0:0,0}", item.GiaTien) đ</div>
                    </div>
                    <div class="col l-2 m-2 s-0">
                        <form method="post" action="@Url.Action("UpdateQuantity")">
                            <input type="hidden" name="masp" value="@item.MaSP" />
                            <div class="buttons_added">

                                <input aria-label="quantity" class="input-qty" max="50" min="1" name="" type="number" value="@Html.DisplayFor(modelItem => item.SoLuong)">

                            </div>

                        </form>
                    </div>
                    <div class="col l-2 m-2 s-4">
                        <div class="main__cart-price">@String.Format("{0:0,0}", item.ThanhTien) đ</div>
                    </div>

                </div>
            }


        </div>
    </div>




</body>

<script>

    function plusProduct() {
        document.querySelector('.input-qty').value++;
    }

    function minusProduct() {
        document.querySelector('.input-qty').value--;
    }
</script>
<script src="~/Assets/User/js/commonscript.js"></script>