@*@model ThietBiDienTu.Areas.Admin.Models.HangSanXuat

    @{
        ViewBag.Title = "Details";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

    <div class="content-wrapper">
        <div class="form-group">
            @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-outline-primary btn-fw mdi mdi-backburger" })
        </div>

        <div class="card">
            <div class=" card-header" style="background-color: #C8E2B1; ">
                <h4 class="card-title">Xem chi tiết hãng sản xuất</h4>
            </div>

            <div class="card-body">

                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Tên hãng sản xuất :</label>
                            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.TenHang)" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Mô tả</label>
                            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.MoTa) " readonly>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Thông tin liên hệ</label>
                            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.TTLienHe)" readonly>
                        </div>
                    </div>


                    <div class="text-center mt-4">
                        <p class="card-description">
                            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaHang }, new { @class = "btn btn-outline-dark btn-fw mdi mdi-pencil-box" })
                        </p>

                    </div>
                }
            </div>
        </div>
    </div>*@


@model ThietBiDienTu.Areas.Admin.Models.HangSanXuat

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="form-group">
        @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-outline-primary btn-fw mdi mdi-backburger" })
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thêm mới hãng sản xuất</h4>
        </div>

        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Hãng sản xuất</h4>
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        Tên hãng
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenHang)
                            @Html.ValidationMessageFor(model => model.TenHang)
                        </div>
                    </div>

                    <div class="form-group">
                        Mô tả thông tin về hãng
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MoTa)
                            @Html.ValidationMessageFor(model => model.MoTa)
                        </div>
                    </div>

                    <div class="form-group">
                        Thông tin liên hệ
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TTLienHe)
                            @Html.ValidationMessageFor(model => model.TTLienHe)
                        </div>
                    </div>
                    <div class="col-md-4" style="color:orangered">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm mới" class="btn btn-outline-primary btn-fw mdi mdi-database-plus" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>