@model ThietBiDienTu.Areas.Admin.Models.BaoHanh

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BaoHanh</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaDDH, "MaDDH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDDH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaDDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaSP, "MaSP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaSP", String.Empty)
                @Html.ValidationMessageFor(model => model.MaSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDH)
                @Html.ValidationMessageFor(model => model.NgayDH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, "MaKH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenKH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKH)
                @Html.ValidationMessageFor(model => model.TenKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT)
                @Html.ValidationMessageFor(model => model.SDT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LyDo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LyDo)
                @Html.ValidationMessageFor(model => model.LyDo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
