@model ThietBiDienTu.Areas.Admin.Models.CTDiaChi

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CTDiaChi</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaDiaChi, "MaDiaChi", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDiaChi", String.Empty)
                @Html.ValidationMessageFor(model => model.MaDiaChi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoNha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoNha)
                @Html.ValidationMessageFor(model => model.SoNha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDuong)
                @Html.ValidationMessageFor(model => model.TenDuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhuongXa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhuongXa)
                @Html.ValidationMessageFor(model => model.PhuongXa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuanHuyen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuanHuyen)
                @Html.ValidationMessageFor(model => model.QuanHuyen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhThanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhThanh)
                @Html.ValidationMessageFor(model => model.TinhThanh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MacDinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MacDinh)
                @Html.ValidationMessageFor(model => model.MacDinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenNguoiNhan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiNhan)
                @Html.ValidationMessageFor(model => model.TenNguoiNhan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDTNguoiNhan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDTNguoiNhan)
                @Html.ValidationMessageFor(model => model.SDTNguoiNhan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
