@model ThietBiDienTu.Areas.Admin.Models.MaGiamGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MaGiamGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMGG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMGG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLDaSuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLDaSuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLeGiam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeGiam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGiamGia1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
