@model ThietBiDienTu.Areas.Admin.Models.DDH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DDH</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaDDH)

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDat)
                @Html.ValidationMessageFor(model => model.NgayDat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaGiamGia, "MaGiamGia", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaGiamGia", String.Empty)
                @Html.ValidationMessageFor(model => model.MaGiamGia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThanhTien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThanhTien)
                @Html.ValidationMessageFor(model => model.ThanhTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDTNguoiNhan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDTNguoiNhan)
                @Html.ValidationMessageFor(model => model.SDTNguoiNhan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNVC, "MaNVC", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNVC", String.Empty)
                @Html.ValidationMessageFor(model => model.MaNVC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, "MaKH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenNguoiNhan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiNhan)
                @Html.ValidationMessageFor(model => model.TenNguoiNhan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoNha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoNha)
                @Html.ValidationMessageFor(model => model.SoNha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDuong)
                @Html.ValidationMessageFor(model => model.TenDuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhuongXa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhuongXa)
                @Html.ValidationMessageFor(model => model.PhuongXa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuanHuyen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuanHuyen)
                @Html.ValidationMessageFor(model => model.QuanHuyen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhThanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhThanh)
                @Html.ValidationMessageFor(model => model.TinhThanh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu)
                @Html.ValidationMessageFor(model => model.GhiChu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
